.FeatureBlocks {
  padding: 3rem 0;
}
.Item--Petri {
  width: 75vw;
  transition: all 0.3s ease;
}
.Item--Petri:hover {
  transform: rotate(10deg);
}
.FeatureArray--Sticker--Container {
  margin-top: -30px;
  z-index: 0;
}
.FeatureArray--Sticker {
  max-height: 70px;
}
